<div class="app-container">
  <!-- Barra de navegación -->
  <div class="toolbar">
    <div class="toolbar-left">
      <a class="toolbar-title" routerLink="/home">Inicio</a>
      <a class="toolbar-title" routerLink="/register-solicitudes"
        >Registro de Solicitudes</a
      >
      <a class="toolbar-title" routerLink="/solicitudes">Solicitudes</a>
      <a class="toolbar-title" routerLink="/control-refacciones"
        >Registro de Refacciones</a
      >
      <a class="toolbar-title" routerLink="/refacciones">Refacciones</a>
      <a class="toolbar-title active" routerLink="/accesos-permisos"
        >Accesos/Permisos</a
      >
    </div>
    <div class="toolbar-right">
      <div class="dropdown">
        <span class="profile">
          <i class="fas fa-user"></i> Perfil
          <i class="fa fa-caret-down"></i>
        </span>
        <div class="dropdown-content">
          <a (click)="logout()">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>

  <div class="refacciones-container">
    <div class="header">
      <div class="logo">
        <h1>Accesos y Permisos</h1>
        <p>Listado de Accesos y Permisos disponibles</p>
      </div>
    </div>
  </div>
</div>
